.wrapper {
	min-width: 350px;
}

#intro-fullscreen {
	height: 100vh;
	text-align: center;
	width: 100%;
	min-height: 350px;
	background-color: #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}




@media screen and (min-width: 550px) {
	.intro {
		background: url("../images/desk.jpeg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
	.intro-container {
/*		padding-top: 40vw;*/
		height: 100%;
		vertical-align: middle;
	}
}